.fs-30 {
    font-size: 1.875rem!important;
    line-height: 1.3;
}
.fs-40 {
    font-size: 2.6rem;
}
.fs-60 {
    font-size: 3rem!important;
    line-height: 1.5;
}

@media (max-width: 767px) {
    .fs-30 {
        font-size: 1.4rem!important;
    }
    .fs-40 {
        font-size: 1.8rem;
    }
    .fs-60 {
        font-size: 2.25rem!important;
    }
}



/* Color system */
.text-brown {
    color: #7a3b2c !important;
}
.bg-orange-400 {
    color: #000;
    background-color: #f3c064;
}
.bg-light-gray {
    background-color: #f9f9f9;
}

.btn-primary {
    --bs-btn-bg: #1d79a6;
}

a, .text-primary {
    color: #1d79a6;
}




img {
    max-width: 100%;
}